.stepWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.illustrationDescriptionWrapper {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 0;
    border-radius: 8px; 
}
