$ILLUSTARTIONIMAGEWIDTH: 46vw;

.IllustrationImage {
    width: $ILLUSTARTIONIMAGEWIDTH;
    height: auto;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}
